*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colores */
  --color-texto: #15021a;
  --color-fondo: rgb(248, 248, 248);
  --color-sobreFondo: #ffffff;
  --color-placeholder: #a0a0a0;
  --color-hover-span: rgb(255 255 255 / 0.3);
  --color-hover-span: rgb(255 255 255 / 0.3);
  --color-task-bg: whitesmoke;
  --color-completada: #95b861;

  /* Tipografía */
  --fuente-principal: "Quicksand", sans-serif;

  /* Otros */
  --borde-radio: 15px;
  --borde-radio-tasks: 60px 0 60px 0;
}

/* BODY Y LAYOUT GENERAL */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  background: var(--color-fondo);
  font-family: var(--fuente-principal);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  gap: 20px;
}

/* TIPOGRAFÍA */

h1 {
  font-weight: 900;
  color: var(--color-texto);
  font-size: clamp(2.5rem, 6vw, 4.25rem);
}

/* FORMULARIO DE ENTRADA */

.contenedor-input {
  background-color: var(--color-sobreFondo);
  padding: 2px;
  border-radius: var(--borde-radio);
  display: flex;
  justify-content: center;
  min-width: 320px;
  max-width: 800px;
  width: 95%;
}

input {
  border: none;
  border-radius: var(--borde-radio);
  height: 2rem;

  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--fuente-principal);
  font-weight: 300;
  flex-grow: 1;
}

input::placeholder {
  font-weight: 100;
  color: var(--color-placeholder);
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: var(--borde-radio);
  background-color: var(--color-primario);
  color: var(--color-blanco);
  font-weight: 700;
  padding: 0.5rem 1rem;
  font-family: var(--fuente-principal);
  cursor: pointer;
}

/* TAREAS */

.contenedor-tasks {
  background-color: var(--color-sobreFondo);
  border-radius: var(--borde-radio);
  max-width: 800px;
  min-width: 320px;
  width: 90%;
  padding: 1rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  list-style: none;
  text-align: center;
  width: 100%;
}

li {
  margin: 0 auto;
  position: relative;
  padding: 1.25rem 2rem;
  background-color: var(--color-sobreFondo);
  border-radius: var(--borde-radio);
  width: clamp(150px, 90%, 800px);
  user-select: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

li.checked {
  background-color: var(--color-completada);
  color: var(--color-blanco);
  text-decoration: line-through;
}

/* Botón de eliminar */

span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    color: var(--color-texto);
    text-align: center;
    line-height: 40px; /* centra verticalmente el símbolo × */
    cursor: pointer;
    user-select: none;

}

span:hover{
    background-color: var(--color-hover-span);
}


